.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}
  
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #626364;
  border-radius: 4px;
}
  
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #edf2f7;
}

.product-details ul {
  list-style-type: disc; /* Default bullet style for unordered lists */
  margin-left: 1.5em; /* Space from the left */
}

.product-details ol {
  list-style-type: decimal; /* Default number style for ordered lists */
  margin-left: 1.5em; /* Space from the left */
}

.product-details li {
  margin-bottom: 0.5em; /* Space between list items */
}
.img-responsive {
  height: 200px;
  background-color: green;
}

.responsive {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 450px) {
  .responsive {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 800px) {
  .responsive {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
